span,
div,
p,
a {
  user-select: none;
}

a {
  text-decoration: none;
}

.label-1 {
  font-size: 18px;
  font-weight: 600;
}

.label-2 {
  font-size: 13px;
  font-weight: 500;
  color: var(--v-greyscale_3-base);
}

.label-3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--v-greyscale_3-base);
}

.number {
  font-feature-settings: "salt" on;
}

.v-tabs-items {
  background-color: transparent !important;
}

.f-asset-list {
  min-height: 60vh;
}
