span,
div,
p,
a {
  user-select: none;
}

.label-1 {
  font-size: 18px;
  font-weight: 600;
}

.label-2 {
  font-size: 13px;
  font-weight: 500;
  color: var(--v-greyscale_3-base);
}

.label-3 {
  font-size: 12px;
  font-weight: 400;
  color: var(--v-greyscale_3-base);
}

.number {
  font-feature-settings: "salt" on;
}

.v-tabs-items {
  background-color: transparent !important;
}

.v-main.linear-page {
  background: linear-gradient(
    180deg,
    #f5f5f5 0%,
    rgba(245, 245, 245, 0.520699) 89.4%,
    rgba(245, 245, 245, 0) 100%
  );
  background-size: 100% 350px;
  background-repeat: no-repeat;
}

.f-input-search svg {
  width: 12px !important;
}
